* {
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
  }

.grid{
padding: 10px;
display: grid;
height: 98vh;
justify-items: stretch;
grid-template: 
"header header header header header header header header " 1fr
"contAcc contAcc contAcc todo1 todo1 todo1 todo2 todo2" 6fr
"middle middle middle middle middle middle middle middle" 0.5fr
"timer timer user user user user user user" 4fr
"footer footer footer footer footer footer footer footer" 1fr
}

body {
    font-family:"Helvetica Neue"
  }

.header{
background-color: orange;
grid-area: header;
border-bottom: black 1.5px solid;
}

.contAcc{
grid-area: contAcc;
display: grid;
grid-template: 
"today today today today" 1fr
"time time time weather" 3fr
"quoteContainer quoteContainer quoteContainer quoteContainer" 1fr
}

.today{
/* background-color: tomato; */
grid-area: today;
font-size: 2vw;
font-weight: 500;
display: flex;
align-items: center;

}

.time{
/* background-color: yellowgreen; */
grid-area: time;
font-size: 9vw;
font-weight: 500;
margin-right: -2vw;
}

.weather{
background-color:black;
grid-area: weather;
color: whitesmoke;

}

#temp{
    font-size: 1.5em;
}

.quoteContainer{
    /* background-color: skyblue; */
    grid-area: quoteContainer;
    display: flex;
    align-items: center;
    font-size: 1.1vw;
}

.todo1{
background-color: plum;
grid-area: todo1;
border-left: black 1.5px solid;
}

.todo2{
    background-color: salmon;
    grid-area: todo2;
    border-left: black 1.5px solid;
}

.middle{
    /* background-color: crimson; */
    grid-area: middle;
    border-top: black 1.5px solid;
}

.timer{
    background-color: midnightblue;
    grid-area: timer;
    display: grid;
    grid-template: 
    "timerButton" 1fr
    "clock" 4fr
}

.timerButton{
    background-color: mistyrose;
    grid-area: timerButton;
}

.clock{
    background-color: yellow;
    grid-area: clock;
}

.user{
    /* background-color: mediumspringgreen; */
    grid-area: user;
}

.footer{
background-color: mediumslateblue;
grid-area: footer;
}


.hidden{
    display: none;
}

#greetingForm{
    /* display: grid;
    grid-template:
    "greeting greeting name name name name name"  */
   
}

#greeting{
    font-size: 2vw;
    /* padding: 50px; */
    font-weight: 500;
    grid-area: greeting;

}

#name{
    font-size: 20vw;
    font-weight: bold;
    grid-area: name;
}

#userForm input[type="text"], textarea{
    background-color: yellow;
    font-size:3.5vw;
    width: 90%;
    border: none;
    border-bottom: 2px solid red;
}

#weather-icon{
    font-size: 8vw;
    text-align: center;
}