* {
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
  }

.grid{
padding: 10px;
display: grid;
height: 98vh;
justify-items: stretch;
grid-template: 
"header header header header header header header header " 1fr
"contAcc contAcc contAcc contAcc todo1 todo1 todo2 todo2" 6fr
"middle middle middle middle middle middle middle middle" 0.5fr
"timer timer user user user user user user" 4fr
"footer footer footer footer footer footer footer footer" 1fr
}

body {
    font-family:"Helvetica Neue"
  }

.header{
background-color: orange;
grid-area: header;
}

.contAcc{
background-color: teal;
grid-area: contAcc;
display: grid;
grid-template: 
"date date date date" 1fr
"time time time weather" 3fr
"quote quote quote quote" 1.2fr
}

.date{
background-color: tomato;
grid-area: date;

}

.time{
background-color: yellowgreen;
grid-area: time;
}

.weather{
background-color: green;
grid-area: weather;
}

.quote{
    background-color: skyblue;
    grid-area: quote;
}

.todo1{
background-color: plum;
grid-area: todo1;
}

.todo2{
    background-color: salmon;
    grid-area: todo2;
}

.middle{
    background-color: crimson;
    grid-area: middle;
}

.timer{
    background-color: midnightblue;
    grid-area: timer;
    display: grid;
    grid-template: 
    "timerButton" 1fr
    "clock" 4fr
}

.timerButton{
    background-color: mistyrose;
    grid-area: timerButton;
}

.clock{
    background-color: yellow;
    grid-area: clock;
}

.user{
    background-color: mediumspringgreen;
    grid-area: user;
}

.footer{
background-color: mediumslateblue;
grid-area: footer;
}


.hidden{
    display: none;
}

#greetingForm{
    /* display: grid;
    grid-template:
    "greeting greeting name name name name name"  */
   
}

#greeting{
    font-size: 2em;
    padding: 50px;
    font-weight: 500;
    grid-area: greeting;

}

#name{
    font-size: 20em;
    font-weight: bold;
    grid-area: name;
}

#userForm input[type="text"], textarea{
    background-color: none;
    font-size:3.5em;
    width: 90%;
    border: none;
    border-bottom: 2px solid red;
}